<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <!-- <typeAlias alias="Author" type="com.csair.author.model.Author"/> -->
  </typeAliases>

  <mappers>
    <!-- <mapper resource="com/csair/author/data/AuthorMapper.xml"/>
    <mapper resource="com/csair/acs/entity/mapper/SysChannelMapper.xml"/> -->
  </mappers>
</configuration>