<div class="workload-operation">
    <div class="workload-search no-border assets-equip-box">
    </div>
</div>
<script type="text/template" id="J_tpl_module">
    <div class="search-form clearfix">
        <% _.each(dataGroup, function(group, index){ %>
        <div class="u-panel u-panel-sm clearfix">
            <div class="panel-header" style="color: <%= group.color %>; border-color: <%= group.color %>"><%= group.text %></div>
            <%_.each(group.children, function(item) {%>
            <% if(item.type == "text"){%>
            <dl class="<%= 'J_' + item.name %> dl-tip">
                <dt class="<%= item.required ? 'required' : ''%>"><%= item.label%>：</dt>
                <dd>
                    <input type="text" name="<%= item.name%>" labelname="<%= item.label%>" serialize="true"
                           ismandatory="0" escape="1" class="input-text J_input">
                    <% if(item.extend == "search"){ %>
                    <i class="btn-search J_input_search" data-url="<%= item.extendUrl%>"></i>
                    <% } %>
                    <div class="error-tip"></div>
                </dd>
            </dl>
            <%}else if(item.type == "select" || item.type == "select-ajax" || item.type == "select-extend" || item.type
            == "select-ajax-effect"){%>
            <dl class="<%= 'J_' + item.name %> dl-tip">
                <dt class="<%= item.required ? 'required' : ''%>"><%= item.label%>：</dt>
                <dd>
                    <div class="select-box">
                        <em class="ac_selectBox">请选择</em>
                        <ul class="select-auto">
                            <% var maxLength = 10; %>
                            <% if(item.options && item.options.length > maxLength) { %>
                            <li class="select-search-input clearfix"><input type="text"
                                                                            class="input-text ac_select-search-input"
                                                                            placeholder="输入并自动搜索" /></li>
                            <% } %>
                            <%_.each(item.options, function(option) {%>
                            <li class="ac_selectItem" val="<%= option.value %>"><%= option.text %></li>
                            <%});%>
                        </ul>
                        <input type="hidden" name="<%= item.name %>" labelname="<%= item.label %>" serialize="true"
                               ismandatory="0" escape="0" value="" class="select-value J_input">
                    </div>
                    <% if(item.extend == "add") {%>
                    <i class="btn-add J_add" data-url="<%= item.extendUrl%>">+</i>
                    <% }else if(item.extend == "search"){ %>
                    <i class="btn-search J_select_search" data-url="<%= item.extendUrl%>"></i>
                    <% } %>
                    <div class="error-tip"></div>
                </dd>
            </dl>
            <% if(item.type == "select-ajax-effect"){%>
            <dl class="<%= 'J_' + item.effectProperty%> hide">
                <dt>磁盘阵列</dt>
                <dd>
                    <input type="text" name="<%= item.effectProperty%>" serialize="true" ismandatory="0" escape="1"
                           placeholder="输入资产编号,多个资产编号用,分割" class="input-text J_input">
                </dd>
            </dl>
            <%}%>
            <%}else if(item.type == "date"){%>
            <dl class="<%= 'J_' + item.name %> dl-tip">
                <dt class="<%= item.required ? 'required' : ''%>"><%= item.label%>：</dt>
                <dd>
                    <input type="text" name="<%= item.name%>" labelname="<%= item.label%>" serialize="true"
                           ismandatory="0" escape="1" class="input-text J_calendar J_input">

                    <div class="error-tip"></div>
                </dd>
            </dl>
            <%}%>
            <%});%>
        </div>
        <% }) %>
        <dl class="workload-operate-box clearfix">
            <dd>
                <a href="javascript:void(0)" class="search ac_searchWorkload">登记</a>
            </dd>
        </dl>
        <input type="hidden" class="search-key">
        <input type="hidden" class="search-full-key">
    </div>
</script>
<script type="text/template" id="J_tpl_select_sn">
    <%_.each(list, function(option) {%>
    <li class="ac_selectItem" val="<%= option.sn %>"><%= option.name %></li>
    <%});%>
</script>
<script type="text/template" id="J_tpl_select">
    <%_.each(list, function(option) {%>
    <li class="ac_selectItem" val="<%= option.id %>"><%= option.name %></li>
    <%});%>
</script>
<script type="text/template" id="J_tpl_li">
    <li class="ac_selectItem" val="<%= name %>"><%= name %></li>
</script>
<script type="text/template" id="J_tpl_poup">
    <div class="text-center">
        <input type="text" class="input-text reset-passwd" maxlength="50">
    </div>
</script>